body {
margin: -5;
font:600 16px/18px 'Open Sans',sans-serif;
}
header {
  padding: 5px 0;
  background: repeating-linear-gradient(45deg, #E08F1F, #CCB280 20px, #E08F1F 20px, #E08F1F 40px);
  box-shadow: 0 4px 6px rgba(0,0,0,.2);
  text-decoration:none;
  margin:0px 0px 10px 0px;
}

.container {
  padding: 0 20px;
  width:1200;
  max-width: 1200px;/*960*/
  margin: 0 auto;
}
.logo-box {
  float: left;

}
.logo-box {
  float: left;
  margin-right: 200px;
}
.logo-box a {
  outline: none;
  display: block;
}
.logo-box img {display: block;}
nav {
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
nav li {
  display: inline-block;
  margin-left: 25px;
  height: 70px;
  line-height: 70px;
  transition: .5s linear;
}
nav a {
  text-decoration: none !important;
  display: block;
  position: relative;
  color: #868686;
  text-transform: uppercase;
  font-size:100%;
}
nav a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background: #868686;
  transition: width .5s linear;

}
nav a:hover:after {width: 100%;}

@media screen and (max-width: 660px) {
  header {text-align: center;}
  .logo-box {
    float: none;
    display: inline-block;
    margin: 0 0 16px 0;
    animation-play-state: paused;
  }
  ul {float: none;
      text-decoration: none;

  }
  nav li:first-of-type {margin-left: 0;}
}
@media screen and (max-width: 550px) {
nav {overflow: visible;}
nav li {
  display: block;
  margin: 0;
  height: 40px;
  line-height: 40px;
}
nav li:hover {background: rgba(0,0,0,.1);}
nav a:after {content: none;}
}